<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Vendedor</title>
    </head>

    <body>
        <h1>nuevo vendedor</h1>
        <form action="{% url 'nuevo_vendedor' %}" method="POST">
            {% csrf_token%}
            <!-- aca va nuestro formulario-->
            <table>
                {{formulario.as_table}}
            </table>
            <input type="submit" value="Enviar" />
        </form>
        <a href="{% url 'index' %}">Ir al inicio</a>
    </body>
</html>
