<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Producto Formulario</title>
    </head>

    <body>
        <h1>Formulario de Productos</h1>
        <form action="{% url 'venta_formulario' %}" method="POST">
            {% csrf_token%}
            <!-- aca va nuestro formulario-->
            <table>
                {{formulario.as_table}}
            </table>
            <input type="submit" value="Enviar" />
        </form>
    </body>
</html>
